<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @owner.gender %>
</p>

<p>
  <strong>Owner Id and Pet:</strong>
  <% @pets.each do |pet| %><br>
    <%= pet.owner_id %>
    <%= pet.animal %>
    <%= pet.age %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
